* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    cursor: pointer;
}

img:hover {
    border-radius: 5px;
    box-shadow:  5px  5px 5px rgb(255, 145, 0),
                -5px -5px 5px rgb(26, 152, 255),
                -5px  5px 5px rgb(26, 152, 255),
                 5px -5px 5px rgb(26, 152, 255);
}

/* ----------------------------nav-------------------------------- */

#nav {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
}

#nav #notlink {
    font-size: 37px;
}

#nav #link {
    font-size: 22px;
    color: black;
}

#nav #link:hover {
    color: red;
}

#nav #Donate {
    cursor: pointer;
    width: 130px;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(248,55,48);
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
    border: none;
    outline: none;
}

#nav #Donate:hover {
    background-color: rgb(193,0,0);
    text-decoration: underline;
}

#nav #navline {
    font-size: 18px;
    color: black;
}

/* ------------------------Logo Starts----------------------------- */

#logo {
    width: 100%;
    display: flex;
    position: static;
    height: 357px;
    background-color: black;
}

#logo table {
    margin-left: 50px;
}

#logo #logoimage {
    margin-left: 20px;
    width: 120px;
    height: 80px;
}

#logo #link1 {
    text-decoration: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

#logo #link1:hover {
    color: red;
}

#logo hr {
    width: 100%;
    border-color: rgb(77,77,77);
}

#logo #csr {
    color: white;
    font-size: 28px;
}

/* ------------------Sections Under Get Involved------------------- */

#undergetinvolve {
    display: none;
    width: 210px;
    position: absolute;
    margin-top: -160px;
    margin-left: 350px;
    background-color: white;
    color: black;
    /* margin-top: 500px; */
    height: 220px;
    border-radius: 10px;
    box-shadow:  2px  2px 7px rgb(143,187,221),
                -2px -2px 7px rgb(143,187,221),
                -2px  2px 7px rgb(143,187,221),
                 2px -2px 7px rgb(143,187,221);
}

/* ----------------------CONTENT1 STARTS------------------- */

#content1 {
    display: flex;
    text-align: center;
    margin-top: 40px;
    margin-left: 50px;
    width: 1000px;
}

#content1 #contact  {
    font-size: 35px;
    font-weight: bold;
}

#content1 #phone {
    font-size: 17px;
}

#content1 #heading, #content2 #heading, #content3 #heading, 
#content4 #heading, #content5 #heading, #content6 #heading,
#content7 #heading, #content8 #heading {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

#content1 a {
    font-size: 23px;
    text-decoration: none;
    color: rgb(66,139,202);
}

#content1 a:hover {
    text-decoration: underline;
    color: black;
}

#content1 #para1 {
    text-align: left;
    font-size: 15px;
    line-height: 20px;
}

#content1 #underlinecontent, #content2 #underlinecontent, #content3 #underlinecontent,
#content4 #underlinecontent, #content5 #underlinecontent, #content6 #underlinecontent,
#content7 #underlinecontent, #content8 #underlinecontent {
    border-bottom: 3.5px solid rgb(241,112,0);
}

#content2, #content3, #content4, #content5,
#content6, #content7, #content8 {
    margin-top: 10px;
    margin-left: 50px;
    width: 1000px;
}

#content2 #para2, #content3 #para3, #content4 #para4,
#content5 #para5, #content6 #para6, #content7 #para7,
#content8 #para8 {
    font-size: 15px;
    text-align: left;
    line-height: 20px;
}

#content3 #p1 #textindent {
    margin-left: 160px;
}

#content3 #p3 #textindent {
    margin-left: 205px;
}

#content3 #p1, #p2, #p3 {
    font-size: 16px;
    margin-left: 50px;
    line-height: 23px;
}

#content4 img {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
}

/* ---------------------------Contact Form------------------------- */

#contactform {
    background-color: rgb(245,245,245);
    width: 100%;
    height: 900px;
    margin-top: 10px;
    /* margin-left: 30px; */
}

#contactform table {
    margin-left: 50px;
}

#contactform #italics {
    font-style: italic;
}

#contactform #label {
    font-weight: bold;
    font-size: 14px;
    
    cursor: pointer;
}

#contactform #label #required {
    color: rgb(204,1,64);
}

#contactform #forminput {
    width: 690px;
    height: 35px;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
}

#contactform #textarea {
    width: 690px;
    height: 200px;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 5px;
    padding: 10px;
}

#contactform #forminput:focus, #contactform #textarea:focus {
    box-shadow:  2px  2px 7px rgb(143,187,221),
                -2px -2px 7px rgb(143,187,221),
                -2px  2px 7px rgb(143,187,221),
                 2px -2px 7px rgb(143,187,221);
    border: none;
    outline: none;
}

#contactform #send {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(95,197,188);
    color: white;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

#contactform #send:hover {
    background-color: rgb(53, 172, 162);
    text-decoration: underline;
}

/* ----------------------Feedback Form----------------------------- */

#feedback {
    margin-left: 50px;
}

#feedback #leavecomment {
    font-weight: bold;
    font-size: 18px;
}

#feedback #commentinput {
    width: 950px;
    height: 35px;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
}

#feedback #commentinputlarge {
    width: 950px;
    height: 180px;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
}

#feedback #commentinput:focus, #feedback #commentinputlarge:focus {
    box-shadow:  2px  2px 7px rgb(143,187,221),
                -2px -2px 7px rgb(143,187,221),
                -2px  2px 7px rgb(143,187,221),
                 2px -2px 7px rgb(143,187,221);
    border: none;
    outline: none;
}

#feedback #submit {
    width: 130px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(214, 52, 46);
    color: white;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

#feedback #submit:hover {
    background-color: rgb(255, 8, 0);
    text-decoration: underline;
}

/* --------------------------Subscribe----------------------------- */

#subscribe {
    background-color: rgb(248,55,48);
    width: 100%;
    margin-top: 40px;
}

#subscribe table {
    margin-left: 50px;
}

#subscribe #subsinput {
    width: 450px;
    height: 50px;
    padding: 20px;
    font-size: 18px;
    outline: none;
}

#subscribe #subsinput:focus {
    box-shadow:  2px  2px 7px rgb(143,187,221),
                -2px -2px 7px rgb(143,187,221),
                -2px  2px 7px rgb(143,187,221),
                 2px -2px 7px rgb(143,187,221);
    border: none;
    outline: none;
}

#subscribe #subs1 {
    font-size: 33px;
    color: white;
}

#subscribe #subs1 #news {
    color: black;
}

#subscribe #subs2 {
    font-size: 16px;
    color: white;
}


#subscribe #subscribenow {
    width: 450px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(51,51,51);
    color: white;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

#subscribe #subscribenow:hover {
    background-color: rgb(196,196,196);
    color: black;
}

/* ---------------------------Footer------------------------------ */

#footer {
    background-color: black;
    width: 100%;
}

#footer #footertab3 {
    color: white;
    font-size: 16px;
}

#footer #footertab1, #footertab2, #footertab3  {
    width: 300px;
}

#footer #footertabs {
    margin-left: 50px;
    /* display: flex; */
}

#footer #footertab1 #footeraddress, 
#footeremail, #ftremail,#ftraddress,
#ftrphone, #footerphone {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#footer #footertab1 #ftremail:hover, 
#ftraddress:hover, #ftrphone:hover {
    color: red;
}

#footer #footertab1 #footeraddress:hover, 
#footeremail:hover, #footerphone:hover {
    text-decoration: underline;
}

#footer #footertab1 #footerp1,
#footertab2 #footerp2, 
#footer #footertab3 #footerp3 {
    color: white;
    font-size: 25px;
}

#footer #footertab3 #tab3s1, #tab3s2, #tab3s3,
#tab3s4, #tab3s5, #tab3s6, #tab3s7,
#tab3s8, #tab3s9 {
    cursor: pointer;
}

#footer #footertab1 #footerp1p2 {
    color: white;
    font-size: 14px;
}

#footer #footertab3 #tab3s1:hover, #tab3s2:hover, #tab3s3:hover,
#tab3s4:hover, #tab3s5:hover, #tab3s6:hover, #tab3s7:hover,
#tab3s8:hover, #tab3s9:hover {
    text-decoration: underline;
}

#footer #footertab1 #ftrface, 
#ftrytbe, #ftrlnkdn, #ftrinsta, #ftrtwtr, a {
    color: white;
    text-decoration: none;
}

#footer #footertab1 #ftrface:hover, 
#ftrytbe:hover, #ftrlnkdn:hover, 
#ftrinsta:hover, #ftrtwtr:hover {
    color: rgb(255, 0, 0);
}

#footer #copyrights {
    color: rgb(143, 143, 143);
    margin-left: 50px;
}

#footer #copyrights #cpyrts, #regnum {
    text-align: center;
}